
/*CSS Form page*/
body {
  background: rgb(151, 150, 150);
}

.content 
{
  margin: auto;
  background: rgb(241, 243, 214);
  padding: 10px;
  display: flex;
  width: 75%;
  border-radius:10px;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-wrap:nowrap;
  flex-direction: column;
  justify-content: center;
}

input[type=text],input[type=date], input[type=number], select {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
} 

.f:hover
{
  background: #F1FEC6;
  width: 60%;
  height: 50%;
  padding: 10px;
  padding-left: 15px;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  border-radius:10px ;
  box-shadow:teal 2px 4px 2px 2px; 
}

p
{
  font-size: 20px;
  background-color:whitesmoke;
}

input:focus
{
  background-color: rgba(8, 163, 163, 0.699);
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}

button
{
background-color: initial;
width: 100%;
height: 40px;
font-size: 25px;
text-align: center;
font-family: 'Source Sans Pro', sans-serif;
border-radius: 10px;
border-color: cadetblue;
}

button:hover
{
 background-color:rgba(8, 163, 163, 0.699);
 width: 100%;
 height: 40px;
 font-size: 25px;
 text-align: center;
 font-weight: bold;
 font-family: 'Source Sans Pro', sans-serif;
 border-radius: 10px;
}

h2
{
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: Verdana;
}